body{font-family: helvetica,arial,serif;
	margin: 1em 10%;}
h1{color: #333;
	background-color: transparent;}
a{color: #c6o;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;}
ul{padding: 0;float£ºleft;height:78px;}
li{float: left;
	padding: 1em;
	list-style: none;	
}
ul li a img{width:100px;
	height:75px;}
#placeholder{float:left;}
#imagegallery{
	list-style:none;}
#imagegallery li{
	display:inline;
}
#imagegallery li a img{
	border:0;
}
